.widget-holder {
  position: relative;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background-color: white;
  margin: 10px;

  .widget-header {
    height: @widget-header-height;
    line-height: @widget-header-height;
    border-bottom: 1px solid #F7F7F7;

    .widget-icon {
      position: absolute;
      top: 0;
      left: 5px;
    }

    .widget-title {
      padding-left: 25px;
    }
  }

  .widget-content {
    //height: @widget-content-height;

    .widget-reset-button {
      position: absolute;
      top: 4px;
      right: 8px;
      color: #6D6D6D;

      -webkit-transition: -webkit-transform ease-in-out 400ms 0ms;
      -moz-transition: -moz-transform ease-in-out 400ms 0ms;
      -ms-transition: -ms-transform ease-in-out 400ms 0ms;
      -o-transition: -o-transform ease-in-out 400ms 0ms;
      transition: transform ease-in-out 400ms 0ms;

      &:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}

