.inner-range-handle {
  position: absolute;
  bottom: 0;
  background-color: #748290;
  color: white;
  width: 100vw;
  height: @inner-handle-thickness;
  line-height: @inner-handle-thickness;
  //right: calc(~"-100vh" - -@header-height);
  z-index: 1;

  li {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

    &:hover, &.active {
      background-color: #506171;
    }
  }

  i {
    font-size: smaller;
  }
}

.inner-range {
  //padding-top: 20px commented because some sort of jumping problems during the toggle instead of that margin-top: 20px was added for .tab-content class down blow.
  //padding-top: 20px;
  //overflow: hidden was added to fix the jumping problem during the toggle link: http://stackoverflow.com/questions/2327952/slidetoggle-height-is-jumping
  overflow: hidden;
  position: absolute;
  bottom: @inner-handle-thickness;
  //right: @inner-handle-thickness;
  background-color: #F5F5F5;
  height: @inner-range-height;
  //width: 100vw;
  margin-left: 5px;
  box-shadow: 0 0 5px @inner-window-shadow-color;

  .tab-content {
    margin-top: 20px;
  }

  .menu-close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 5px;
    color: grey;
  }
}