.left-menu {
  background-color: #6C7D8E;
  width: @left-menu-width;
  position:  absolute;
  left: 0;
  display: none;
  height: calc(~"100vh" - @header-height);
  z-index: 3;

  a {
    color: white;
    width: 100%;
    display: inline-block;
    padding: 10px;

    &:hover {
      background-color: @menu-item-hover-background-color;
      text-decoration: none;
    }

    .left-menu-item-text {
      padding-left: 10px;
    }
  }
}