<div av-visualization-processor page-map="dcController.pageMap" page-data="dcController.pageData">
    <div class="work-space-area">
        <av-data-widget ng-repeat="widgetMeta in dcController.pageMap.workSpaces" widget-meta-data="widgetMeta"
                        widget-type="work-space" widget-index="$index" page-type-map="dcController.typeMap"></av-data-widget>
    </div>

    <div class="inner-left-handle">
        <ul class="list-inline pull-right">
            <li av-open-inner-left><span data-toggle="tab" data-target="#settings"><i class="material-icons">build</i> Settings</span>
            </li>
            <li av-open-inner-left class="active"><span data-toggle="tab" data-target="#datasource"><i class="fa fa-cubes"
                                                                                                        aria-hidden="true"></i> DataSource</span>
            </li>
        </ul>
    </div>
    <div class="inner-left">
        <div class="tab-content">
            <div id="datasource" class="tab-pane fade in active">
                <div class="datasource-holder text-center">
                    <h4>DataSource Section</h4>
                    <h5>Coming Soon!</h5>
                </div>
            </div>
            <div id="settings" class="tab-pane fade">
                <div class="settings-holder text-center">
                    <h4>Settings</h4>
                    <h5>Coming Soon!</h5>
                </div>
            </div>
        </div>
        <div av-close-inner-left class="menu-close"><i class="material-icons">close</i></div>
    </div>

    <div class="inner-right-handle">
        <ul class="list-inline">
            <li av-open-inner-right class="active"><span data-toggle="tab" data-target="#filters"><i class="fa fa-filter"
                                                                                                     aria-hidden="true"></i> Filers</span>
            </li>
            <li av-open-inner-right><span data-toggle="tab" data-target="#controllers"><i class="material-icons">perm_data_setting</i> Controllers</span>
            </li>
        </ul>
    </div>
    <div class="inner-right">
        <div class="tab-content">
            <div id="filters" class="tab-pane fade in active">
                <av-data-widget ng-repeat="widgetMeta in dcController.pageMap.filters" widget-meta-data="widgetMeta"
                                widget-type="filter" widget-index="$index" page-type-map="dcController.typeMap"></av-data-widget>
            </div>
            <div id="controllers" class="tab-pane fade">
                <div class="controllers-holder text-center">
                    <h4>Controllers</h4>
                    <h5>Coming Soon!</h5>
                </div>
            </div>
        </div>
        <div av-close-inner-right class="menu-close"><i class="material-icons">close</i></div>
    </div>

    <div class="inner-range-handle">
        <ul class="list-inline">
            <li av-open-inner-range class="active"><span data-toggle="tab" data-target="#timeline"><i class="fa fa-filter"
                                                                                                      aria-hidden="true"></i> Timeline</span>
            </li>
            <li av-open-inner-range><span data-toggle="tab" data-target="#dynamic-injectors"><i class="material-icons">perm_data_setting</i> Dynamic Injectors</span>
            </li>
        </ul>
    </div>
    <div class="inner-range">
        <div class="tab-content">
            <div id="timeline" class="tab-pane fade in active">
                <av-data-widget ng-repeat="widgetMeta in dcController.pageMap.ranges" widget-meta-data="widgetMeta"
                                widget-type="range" widget-index="$index" page-type-map="dcController.typeMap"></av-data-widget>
            </div>
            <div id="dynamic-injectors" class="tab-pane fade">
                <div class="dynamic-injectors-holder text-center">
                    <h4>Dynamic Injectors</h4>
                    <h5>Coming Soon!</h5>
                </div>
            </div>
        </div>
        <div av-close-inner-range class="menu-close"><i class="material-icons">close</i></div>
    </div>
</div>
