<div ng-bind="dcController.testField"></div>
<div class="inner-left-handle">
    <ul class="list-inline pull-right">
        <li><span data-toggle="tab" data-target="#settings">Settings</span></li>
        <li class="active"><span data-toggle="tab" data-target="#data-source">DataSource</span></li>
    </ul>
</div>
<div class="inner-left">
    <div class="tab-content">
        <div id="data-source" class="tab-pane fade in active">
            Inner Left
        </div>
        <div id="settings" class="tab-pane fade">
            Reserved
        </div>
    </div>
</div>
<div class="inner-right">inner right</div>
<div class="inner-range">inner range</div>